# Ignore all node_modules directories
node_modules/

# Frontend-specific ignores
Frontend/.next/
Frontend/out/
Frontend/build

# Backend-specific ignores
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/db.sqlite3
# backend/static/
# backend/media/pet_images/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Shared ignores
# .env
.env.*
.DS_Store
Thumbs.db
*.log

# .gitignore
myenv/
venv/