# Ignore all node_modules directories
node_modules/

# Frontend-specific ignores
Frontend/.next/
Frontend/out/
Frontend/build

# Backend-specific ignores
backend-Django/venv/
backend-Django/__pycache__/
backend-Django/*.pyc
backend-Django/db.sqlite3
backend-Django/static/
backend-Django/media/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Shared ignores
.env
.env.*
.DS_Store
Thumbs.db
*.log

# .gitignore
myenv/
venv/